body{background-color:		#F5F5F5;}
.container{background-color:white;padding:1em;}
#addnew{margin-top:100px;}
#nav{text-align:center;}
.vehicledanger{background-color:#f2dede;}
.vehiclewarn{background-color:yellow;}